/* Amanda Std Regular */
@font-face {
	font-family: 'amanda_std_regular';
	src: url('/fonts/AmandaStd-Regular.woff2') format('woff2'),
		url('/fonts/AmandaStd-Regular.woff') format('woff'),
		url('/fonts/AmandaStd-Regular.svg#AmandaStd-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Roman */
@font-face {
	font-family: 'palatino_lt_stdroman';
	src: url('/fonts/PalatinoLTStd-Roman.woff2') format('woff2'),
		url('/fonts/PalatinoLTStd-Roman.woff') format('woff'),
		url('/fonts/PalatinoLTStd-Roman.svg#PalatinoLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Dialog Condensed Semibold Regular */
@font-face {
	font-family: 'dialog_cond_semiboldregular';
	src: url('/fonts/dialog_cond_semibold_regular.woff2') format('woff2'),
		url('/fonts/dialog_cond_semibold_regular.woff') format('woff'),
		url('/fonts/dialog_cond_semibold_regular.svg#dialog_cond_semibold_regular') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Black */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_black.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_black.woff') format('woff'),
		url('/fonts/palatino_lt_std_black.svg#palatino_lt_std_black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Black Italic */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_black_italic.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_black_italic.woff') format('woff'),
		url('/fonts/palatino_lt_std_black_italic.svg#palatino_lt_std_black_italic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* Palatino LT Std Bold */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_bold.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_bold.woff') format('woff'),
		url('/fonts/palatino_lt_std_bold.svg#palatino_lt_std_bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Bold Italic */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_bold_italic.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_bold_italic.woff') format('woff'),
		url('/fonts/palatino_lt_std_bold_italic.svg#palatino_lt_std_bold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Palatino LT Std Italic */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_italic.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_italic.woff') format('woff'),
		url('/fonts/palatino_lt_std_italic.svg#palatino_lt_std_italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

/* Palatino LT Std Light */
@font-face {
	font-family: 'palatino_lt_stdlight';
	src: url('/fonts/palatino_lt_std_light.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_light.woff') format('woff'),
		url('/fonts/palatino_lt_std_light.svg#palatino_lt_std_light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Light Bold */
@font-face {
	font-family: 'palatino_lt_stdlight';
	src: url('/fonts/palatino_lt_std_light_bold.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_light_bold.woff') format('woff'),
		url('/fonts/palatino_lt_std_light_bold.svg#palatino_lt_std_light_bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Light Italic */
@font-face {
	font-family: 'palatino_lt_stdlight';
	src: url('/fonts/palatino_lt_std_light_italic.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_light_italic.woff') format('woff'),
		url('/fonts/palatino_lt_std_light_italic.svg#palatino_lt_std_light_italic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Palatino LT Std Medium */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_medium.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_medium.woff') format('woff'),
		url('/fonts/palatino_lt_std_medium.svg#palatino_lt_std_medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Palatino LT Std Medium Italic */
@font-face {
	font-family: 'palatino_lt_std';
	src: url('/fonts/palatino_lt_std_medium_italic.woff2') format('woff2'),
		url('/fonts/palatino_lt_std_medium_italic.woff') format('woff'),
		url('/fonts/palatino_lt_std_medium_italic.svg#palatino_lt_std_medium_italic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
